extends layouts/layout

block contentHeader
  div(class=[
        `absolute`,
        `top-1/2`,
        `left-1/2`,
        `transform -translate-x-1/2 -translate-y-1/2`,
        `text-white`,
        `text-center`
      ])
    h2(class=[
      'font-bold',
      'text-9xl sm:text-7xl md:text-8xl xl:text-9xl', 
      'drop-shadow-2xl'
      ]) 
      | Excursiones

  div(class=[
      `absolute`,
      `bottom-0`,
      `left-1/2`, 
      `transform -translate-x-1/2`, 
      `text-white`,
      `text-center`,
      `mb-2`
    ])
    article(class="flex relative bg-white transition hover:shadow-xl p-2")
      div(class="flex-1 hidden sm:block sm:basis-80")
        img(
          alt=`${cheapestExcursion.name}`
          src=`/img/excursions/${cheapestExcursion.img}`
          class=" w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72"
        )

      div(class="flex-1 h-full")
        div(class="flex flex-col gap-1 border-s border-gray-900/10 sm:border-l-transparent sm:p-4")
  
          h3(class="font-extrabold uppercase text-orange-500 text-2xl")
            | #{cheapestExcursion.name}

          p(class="mt-2 text-left line-clamp-3 text-lg/relaxed text-gray-700")
            | #{cheapestExcursion.description}

          div(class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4")
            dt(class="font-medium text-gray-900") Duracion
            dd(class="text-gray-700 sm:col-span-2") #{cheapestExcursion.duration} Hs

          div(class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4")
            dt(class="font-medium text-gray-900") Precio
            dd(class="text-gray-700 sm:col-span-2") #{cheapestExcursion.price}$

          a(class="inline-block rounded bg-indigo-500 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500" href="#") Reservar
      
      div(class="right-0 top-0 w-16 h-16 border-[2rem] border-solid border-orange-600 border-b-transparent border-l-transparent absolute")
      div(class="right-0 top-0 w-8 h-8 absolute")
        p(class="text-2xl hover:text-4xl transition-all") 
          | ♥

      div(class="flex items-center justify-center left-[-0.5rem] top-[-0.5rem] w-20 h-20 bg-orange-600 rounded-full absolute rotate-[-45deg]")
        span(class="text-2xl hover:text-4xl transition-all flex items-center justify-center w-full h-full")
          | -10%

block contentMain
  div(class='flex gap-2 pb-10 m-auto mt-6') 
    div(class='flex flex-col gap-8 w-96')
      //- FILTROS
      div(class="box rounded-xl border border-gray-300 bg-white p-6  md:max-w-sm")
        h6(class="font-medium text-base leading-7 text-black mb-5") Destinos Turisticos
        div(class="relative w-full mb-8")
          select(id="FROM" class="h-12 border border-gray-300 text-gray-900 text-xs font-medium rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-white")
            each destine in allTouristDestinations
              option(value=`${destine.id}`) #{destine.city}
        button(class="w-full py-2.5 flex items-center justify-center gap-2 rounded-full bg-indigo-600 text-white font-semibold text-xs shadow-sm shadow-transparent transition-all duration-500 hover:bg-indigo-700 hover:shadow-indigo-200")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M14.4987 13.9997L13.1654 12.6663M13.832 7.33301C13.832 10.6467 11.1457 13.333 7.83203 13.333C4.51832 13.333 1.83203 10.6467 1.83203 7.33301C1.83203 4.0193 4.51832 1.33301 7.83203 1.33301C11.1457 1.33301 13.832 4.0193 13.832 7.33301Z" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round")
          | Search
      
      div(class="z-50 group-open:absolute group-open:start-0 group-open:top-auto group-open:mt-2")
        div(class = "w-96 rounded border border-gray-200 bg-white")
          header.flex.items-center.justify-between.p-4
            span.text-sm.text-gray-700 The highest price is $600
            button(type="button" class="text-sm text-gray-900 underline underline-offset-4") Reset

          div.border-t.border-gray-200.p-4
            div.flex.justify-between.gap-4
              label(for="FilterPriceFrom" class="flex items-center gap-2")
                span.text-sm.text-gray-600 $
                input(type="number" id="FilterPriceFrom" placeholder="From" class="w-full rounded-md border-gray-200 shadow-sm sm:text-sm")
              
              label(for="FilterPriceTo" class="flex items-center gap-2")
                span.text-sm.text-gray-600 $
                input(type="number" id="FilterPriceTo" placeholder="To" class="w-full rounded-md border-gray-200 shadow-sm sm:text-sm")





    //- excursiones
    div(class='flex flex-col gap-4 flex-auto')
      each excursion in allExcursions
        div(class="flex flex-col w-full gap-5 p-2 mx-auto bg-white shadow-lg select-none sm:p-4 sm:h-64 rounded-2xl sm:flex-row relative")
          div(class="right-0 top-0 w-16 h-16 border-[2rem] border-solid border-orange-600 border-b-transparent border-l-transparent absolute")
          div(class="right-0 top-0 w-8 h-8 absolute")
            p(class="text-2xl hover:text-4xl transition-all text-white") 
              | ♥

          div(class="bg-gray-200 h-52 sm:h-full sm:w-72 rounded-xl")
            img(src=`/img/excursions/${excursion.img}` alt="" class="h-full w-full object-cover  sm:h-72")

          div(class="flex flex-col flex-1 gap-5 sm:p-2")
            div(class="flex flex-col flex-1 gap-3")
              div(class="w-full h-14 rounded-2xl")
                h3(class="mt-1.5 text-2xl font-medium text-gray-900") #{excursion.name}

              div(class="w-full h-3 rounded-2xl")
                p(class="mt-1.5 line-clamp-3 text-gray-700") #{excursion.description}

            div(class="flex gap-3 mt-auto")
              div(class="flex items-center justify-center w-20 h-8 bg-indigo-600 rounded-full")
                span(class="text-white font-bold text-xl") #{excursion.price} $

              div(class="flex items-center justify-center w-20 h-8 bg-indigo-600 rounded-full")
                span(class="text-white font-bold text-xl") #{excursion.duration} hs

              div(class="w-40 h-8 ml-auto rounded-full")
                form(class="flex gap-4")              
                  button(type="button" class="block w-full rounded bg-indigo-600 px-4 py-3 text-sm font-medium text-white transition hover:scale-105") Reservar

