extends layouts/layout

block contentHeader
  div(class=[
        `absolute`,
        `top-1/2`,
        `left-1/2`,
        `transform -translate-x-1/2 -translate-y-1/2`,
        `text-white`,
        `text-center`
      ])
    h2(class=[
      'font-bold',
      'text-9xl sm:text-7xl md:text-8xl xl:text-9xl', 
      'drop-shadow-2xl'
      ]) 
      | Excursiones

  div(class=[
      `absolute`,
      `bottom-0`,
      `left-1/2`, 
      `transform -translate-x-1/2`, 
      `text-white`,
      `text-center`,
      `mb-2`
    ])
    article(class="flex relative bg-white transition hover:shadow-xl p-2")
      div(class="flex-1 hidden sm:block sm:basis-80")
        img(
          alt=`${cheapestExcursion.name}`
          src=`/img/excursions/${cheapestExcursion.img}`
          class=" w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72"
        )

      div(class="flex-1 h-full")
        div(class="border-s border-gray-900/10 sm:border-l-transparent sm:p-4")
  
          h3(class="font-extrabold uppercase text-orange-500 text-2xl")
            | #{cheapestExcursion.name}

          p(class="mt-2 text-left line-clamp-3 text-lg/relaxed text-gray-700")
            | #{cheapestExcursion.description}

          div(class="grid grid-cols-2 py-3 ")
            dt(class="font-medium text-gray-900 text-left") Duracion
            dd(class="text-gray-700 text-right") 
              strong(class="text-xl font-bold text-gray-900 sm:text-4xl text-right") #{cheapestExcursion.duration} Hs
          
          div(class="grid grid-cols-2 py-3")
            dt(class="font-medium text-gray-900 text-left") Precio
            dd(class="text-gray-700 text-right")
              strong(class="text-2xl font-bold text-gray-900 sm:text-4xl text-right") #{cheapestExcursion.price}$
          
          a(class="inline-block rounded bg-custom-blue-one px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500" href="#") Reservar
      
      div(class="right-0 top-0 w-16 h-16 border-[2rem] border-solid border-orange-600 border-b-transparent border-l-transparent absolute")
      div(class="right-0 top-0 w-8 h-8 absolute")
        p(class="text-2xl hover:text-4xl transition-all") 
          | ♥

      div(class="flex items-center justify-center left-[-0.5rem] top-[-0.5rem] w-20 h-20 bg-orange-600 rounded-full absolute rotate-[-45deg]")
        span(class="text-2xl hover:text-4xl transition-all flex items-center justify-center w-full h-full")
          | -10%

block contentMain
  div(class='grid grid-cols-3 gap-8 pb-10 m-auto')    
    each excursion in allExcursions
      a(href="#" class="group relative block overflow-hidden min-w-96")
        button(class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75")
          
        svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4")
          
          img(src=`/img/excursions/${excursion.img}` alt="" class="h-64 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72")

          div(class="relative border gray-100 bg-white p-6")
            p(class="text-gray-700") #{excursion.price} $
            h3(class="mt-1.5 text-lg font-medium text-gray-900") #{excursion.name}
            p(class="mt-1.5 line-clamp-3 text-gray-700") #{excursion.description}
        
            form(class="mt-4 flex gap-4")              
              button(type="button" class="block w-full rounded bg-gray-900 px-4 py-3 text-sm font-medium text-white transition hover:scale-105") Comprar
