<section class="py-8 w-full mx-auto bg-nordic-gray-light flex pt-12 bg-cover bg-right md:pt-0 md:items-center" style="max-width:1600px;">
    <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

      <!-- PRINCIPALES DESTINOS -->
      <div class="w-full container mx-auto flex items-center justify-between mt-0 px-2 py-3">
        <h2 class="w-full uppercase tracking-wide text-center mt-[15px] mb-[30px] text-[2.5rem] font-light">
          Principales destinos
        </h2>
      </div>

      <div class="grid grid-cols-3 gap-8 pb-10 m-auto">
        <% allDestinations.forEach(function(package) { %>
          <a href="/excursions/destination/<%= package.id %>" class="group relative block bg-black hover:shadow-xl">
            <img src="/img/touristDestinations/<%= package.img %>" alt="imagen de la ciudad de <%= package.name %>" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />
            <div class="relative p-4 sm:p-6 lg:p-8">
              <p class="text-white text-4xl font-bold">
                <%= package.name %>
              </p>
              <div class="mt-32 sm:mt-48 lg:mt-64">
                <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                  <p class="text-sm text-white font-medium">
                    <%= package.description %>
                  </p>
                </div>
              </div>
            </div>
          </a>
        <% }); %>
      </div>

      <!-- EXCURSIONES -->
      <div class="w-full container mx-auto flex items-center mt-0 px-2 py-3">
        <h3 class="w-full uppercase tracking-wide text-center mt-[15px] mb-[30px] text-[2.5rem] font-light">
          Excursiones
        </h3>
      </div>

      <div class="grid grid-cols-4 gap-8 flex-auto">
        <% allExcursions.forEach(function(excursion) { %>
          <a href="/excursions/details/<%= excursion.id %>" class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
            <img src="/img/excursions/<%= excursion.img %>" alt="" class="h-56 w-full rounded-md object-cover" />
            <div class="mt-2">
              <dl>
                <div>
                  <dt class="sr-only">Title</dt>
                  <dd class="font-medium"><%= excursion.name %></dd>
                </div>
                <div>
                  <dt class="sr-only">Description</dt>
                  <dd class="text-sm text-gray-500"><%= excursion.description %></dd>
                </div>
              </dl>

              <div class="mt-6 flex items-center gap-8 text-xs">
                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="12" y1="1" x2="12" y2="23"></line>
                    <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                  </svg>
                  <div class="mt-1.5 sm:mt-0">
                    <p class="text-gray-500">Price</p>
                    <p class="font-medium"><%= excursion.price %></p>
                  </div>
                </div>

                <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22a10 10 0 1 0 0-20 10 10 0 0 0 0 20z"></path>
                    <path d="M19 6l-7 6V2.5"></path>
                  </svg>
                  <div class="mt-1.5 sm:mt-0">
                    <p class="text-gray-500">Duration</p>
                    <p class="font-medium"><%= excursion.duration %> hs</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        <% }); %>
      </div>

      <!-- NUESTRO COMPROMISO -->
      <div class="min-h-80 bg-[#ece5e9] mt-10 w-full">
        <div class="max-w-[80rem] m-auto grid grid-rows-2 grid-cols-4 place-items-center text-center">
          <div class="col-span-4">
            <h4 class="text-2xl font-semibold">Nuestro Compromiso</h4>
            <p class="text-orange-600 text-xl italic">Esto es lo que nos diferencia y lo que nos hace unicos.</p>
          </div>
          <div>
            <img src="/icons/experiencias-reales.png" alt="Icono estrella" class="max-h-20 object-cover mx-auto" />
            <p class="text-xl font-semibold pt-4">Experiencias Reales</p>
          </div>
          <div>
            <img src="/icons/reservas-flexibles.png" alt="Icono calendario" class="max-h-20 object-cover mx-auto" />
            <p class="text-xl font-semibold pt-4">Reservas Flexibles</p>
          </div>
          <div>
            <img src="/icons/sin-sobreprecios.png" alt="Icono signo peso" class="max-h-20 object-cover mx-auto" />
            <p class="text-xl font-semibold pt-4">Sin Sobreprecios</p>
          </div>
          <div>
            <img src="/icons/atencion-personalizada.png" alt="Icono de conversación" class="max-h-20 object-cover mx-auto" />
            <p class="text-xl font-semibold pt-4">Atención Personalizada</p>
          </div>
        </div>
      </div>

      <!-- ACERCA DE -->
      <div class="container mx-auto bg-white py-2 border-t border-gray-400">
        <div class="container flex px-3 py-8">
          <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full lg:w-1/2 px-3 md:px-0">
              <h3 class="font-bold text-gray-900">Acerca de CodoViajero</h3>
              <p class="py-4">
                En CodoViajero, creemos que cada viaje es una oportunidad para descubrir, conectar y vivir momentos únicos. Nos especializamos en crear experiencias inolvidables, diseñando excursiones que te llevarán a explorar los rincones más maravillosos de cada destino.
              </p>
              <p class="py-4">
                Nuestro compromiso es acercarte a la naturaleza, la cultura y las historias que hacen de cada lugar algo especial. Ya sea que busques aventura, relajación o un poco de ambos, en CodoViajero encontrarás opciones ideales para cada tipo de viajero.
              </p>
              <p class="py-4">¡Prepárate para emprender tu próxima aventura con nosotros y vivir recuerdos que quedarán para siempre!</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
