extends layouts/layout
block headerContent
  include ./layouts/partials/headerIndex.pug

block content
  div(id='index' class='flex flex-col gap-4 p-4')
    div(class=[
      'text-black',
      'text-center',
      'p-4',
      'flex flex-col',
      'gap-4',
      'justify-center',
      'items-center',
      'mt-4',
      'mb-4'])
      h3(class='text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-center text-orange-500 font-black')
        | Descubre Nuestros Destinos Turisticos
      p(class='sm:text-base lg:text-xl xl:text-2xl text-orange-500 text-xl font-bold')
        | Cada destino ha sido seleccionado para brindarte una experiencia única, asegurando que cada momento de tu viaje sea inolvidable. Nuestro compromiso es proporcionarte una aventura sin preocupaciones, llena de exploración y descubrimiento.
    div(class='flex flex-col gap-2')
      each package, index in travelPackages 
        div(class='flex border-2 border-orange-200')
          div(class='flex-1')
            if index % 2 === 0
              img(src=`/img/touristDestinations/${package.img}`, alt=`imagen de la ciudad de ${package.city}`)
            else
              div
                h4
                  | #{package.city}
                p 
                  | #{package.description}
          div(class='flex-1')
            if index % 2 === 0
              div
                h4
                  | #{package.city}
                p 
                  | #{package.description}
            else
              img(src=`/img/touristDestinations/${package.img}`, alt=`imagen de la ciudad de ${package.city}`)