<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Starter Template - Nordic Shop: Tailwind Toolbox</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="max-w-lg mx-auto mt-8 bg-white rounded-lg shadow-md px-8 py-10 flex flex-col items-center">
        <div width="30" class="-mt-10">
            <!-- Include the logo -->
            <%- include('../layouts/partials/logoCodigoViajero.ejs') %>
        </div>
      <form action="/user/registerUser" method="POST" class="w-full flex flex-col gap-4">
        
        <div class="flex items-start flex-col justify-start">
          <label for="name" class="text-sm text-gray-700 mr-2">Name:</label>
          <input value="<%= (typeof values !== 'undefined' && values.name) ? values.name : '' %>" type="text" id="name" name="name" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500">
        </div>
        
        <div class="flex items-start flex-col justify-start">
          <label for="lastName" class="text-sm text-gray-700 mr-2">Last Name:</label>
          <input value="<%= (typeof values !== 'undefined' && values.lastName) ? values.lastName : '' %>"type="text" id="lastName" name="lastName" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500">
        </div>

        <div class="flex items-start flex-col justify-start">
          <label for="email" class="text-sm text-gray-700 mr-2">Email:</label>
          <input value="<%= (typeof values !== 'undefined' && values.email) ? values.email : '' %>" type="email" id="email" name="email" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500">
        </div>

        <div class="flex items-start flex-col justify-start">
          <label for="password" class="text-sm text-gray-700 mr-2">Password:</label>
          <input type="password" id="password" name="password" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500">
        </div>

        <div class="flex items-start flex-col justify-start">
          <label for="confirmPassword" class="text-sm text-gray-700 mr-2">Confirm Password:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="w-full px-3 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500">
        </div>

        <div id="divMessage" class="text-red-500 mt-2"></div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md shadow-sm">Register</button>

        <% if (typeof validations != 'undefined' && validations.length > 0) { %>
          <% validations.forEach(function(validation) { %>
            <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
              <div class="flex items-center gap-2 text-red-800">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"/>
                </svg>
                <strong class="block font-medium"><%= validation.path %></strong>
              </div>
              <p class="mt-2 text-sm text-red-700"><%= validation.msg %></p>
            </div>
          <% }); %>
        <% } %>

      </form>

      <div class="mt-4 text-center">
        <span class="text-sm text-gray-500 dark:text-gray-300">Already have an account? </span>
        <a href="/auth/login" class="text-blue-500 hover:text-blue-600">Login</a>
      </div>
    </div>
  </body>
</html>
